<br>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<% if current_user != nil && @post.user.id == current_user.id %>
	<hr>
	<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-light'%>
	<%= link_to "Delete", post_path(@post), 
							method: :delete,
							data: {confirm: 'Do you want to delete this post?'},
							:class => 'btn btn-danger' %>

	<hr>
<% end %>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>